body {
  font-family: Arial, sans-serif;
  margin: 0;
  background-color: #375f7a;
}

h2 {
  color: black;
}


.btn.secondary {
  background-color: #777;
}
.btn {
  display: inline-block;
  padding: 10px 16px;
  background-color: #333;
  color: white;
  text-decoration: none;
  border-radius: 8px;
  font-weight: 500;
  transition: 0.2s ease-in-out;
  border: none;
  cursor: pointer;
}

.btn:hover {
  background-color: #555;
  transform: translateY(-1px);
}

.btn-secondary {
  background-color: #777;
}

.btn-danger {
  background-color: #c0392b;
}

.btn-danger:hover {
  background-color: #e74c3c;
}