
<h2>Add Pet</h2>

<form [formGroup]="form" (ngSubmit)="onSubmit()">

  <label>Name</label>
  <input formControlName="name" placeholder="Name">
  <div *ngIf="form.get('name')?.touched && form.get('name')?.invalid">
    <small>Name is required</small>
  </div>

  <label>Type</label>
  <input formControlName="type" placeholder="Type">
  <div *ngIf="form.get('type')?.touched && form.get('type')?.invalid">
    <small>Type is required</small>
  </div>

  <label>Age</label>
  <input type="number" formControlName="age" placeholder="Age">
  <div *ngIf="form.get('age')?.touched && form.get('age')?.invalid">
    <small>Age is required</small>
  </div>

  <label>Image URL</label>
  <input formControlName="imageUrl" placeholder="Image URL">

  <img *ngIf="form.value.imageUrl"
       [src]="form.value.imageUrl"
       width="120"
       style="margin:10px 0; border-radius:8px;">

  <div *ngIf="form.get('imageUrl')?.touched && form.get('imageUrl')?.invalid">
    <small>Image URL is required</small>
  </div>

  <label>Description</label>
  <textarea formControlName="description" placeholder="Description"></textarea>
  <div *ngIf="form.get('description')?.touched && form.get('description')?.invalid">
    <small>Description is required</small>
  </div>

  <button type="submit">Add</button>

  <p *ngIf="errorMessage">{{ errorMessage }}</p>

</form>

<style>
  form {
  max-width: 450px;
  margin: 40px auto;
  padding: 25px;
  background: white;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);

  display: flex;
  flex-direction: column;
  gap: 12px;
}

h2 {
  text-align: center;
  margin-top: 20px;
}

input, textarea {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 14px;
}

textarea {
  resize: vertical;
  min-height: 80px;
}

button {
  padding: 12px;
  background-color: #333;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
}

button:hover {
  background-color: #555;
}

small {
  color: red;
}
</style>